.box88{
    width: 250px;
    padding: 10px;
    height: fit-content;
    border: solid 1px black;
    border-radius: 10px;
    background-color:white;
}
.flex{
    display: flex;
    flex-direction: row;
}
body{
    background-image: url(./sunset-1373171_1280.jpeg);
    background-size: cover;
    background-size:2300px;
}
.margin{
    margin-left: 170px;
    gap: 5px;
}
body{
    height: 100%;
    width: 100%;
    /* background-color: orange; */
    margin: 20px;
}
button{
    width: 200px;
    border: none;
    border-radius: 10px;    
    height: 30px;
    margin-left: 15px;
}
button:hover{
    background-color: #a5668b;
    color: aliceblue;
    transform: scale(2s);
}
.textcenter{
    align-items: center;
    gap: 10px;
}
span{
    opacity: 50%;
    margin-top: 3px;
} 
.size{
    width: 400px;
    height: 700px;
}
.flexc{
    display: flex;
    flex-direction: column;
}
.anket{
    width: 350px;
    height: 500px;
    background-color:white;
    border-radius: 10px;
    position: absolute;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.golluulah{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display: grid;
    grid-auto-columns: unset;
}

.none{
    position:absolute;
    display: none;
}
.block{
    position: absolute;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
 
.borderr{
    border: solid 1px black;
    border-radius: 50%;
    width: 30px;
}
.borderr:hover{
    background-color: #ffc8dd;
}
/* ugugdliin hesg */
.content{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 3px;
    height: fit-content;
}
.contentborder{
    padding: 8px;
    line-height: 3px;
    border: solid 1px black;
    border-radius: 5px;
    background-color:#cdb4db;  
    margin: 5px;
    margin-bottom: 10px;
}
.btnborder{
    border: solid 1px black;
    width: 70px;
}
.btnborder:hover{
    background-color: #bde0fe;
}